<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <meta name="keywords" content="biofactoid, app, bio, biology, paper, academic, academia, publish, peer, review, data, summary, digital, profile, connect, connected" />
    <meta name="robots" content="all" />

    <% if(typeof document !== typeof undefined && typeof TWITTER_ACCOUNT_NAME !== typeof undefined && typeof BASE_URL !== typeof undefined){ %>
      <title><%= document.citation.title %> : Biofactoid</title>
      <meta name="description" content="<%= document.text.replace(/\n/g, ' ') %> : <%= document.citation.title %>" />
      <meta name="author" content="<%- document.citation.authors.authorList.map(author => `${author.name}`).join(', ') %>">
      <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "<%= document.citation.title %>",
        "headline" : "<%= document.citation.title %>",
        "author" : [<%- document.citation.authors.authorList.map(author => `{ "@type": "Person", "name": "${author.name}" }`).join(', ') %>],
        "datePublished" : "<%= document.createdDate.toISOString().substring(0, 10) %>",
        "image" : "<%= BASE_URL %>/api/document/<%= document.id %>.png",
        "articleBody" : "<%= document.citation.abstract %>",
        "url" : "<%= BASE_URL %>/document/<%= document.id %>"
      }
      </script>
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@<%= TWITTER_ACCOUNT_NAME %>">
      <meta name="twitter:creator" content="@<%= TWITTER_ACCOUNT_NAME %>">
      <meta name="twitter:title" content="<%= document.citation.title %>">
      <meta name="twitter:description" content="<%= document.citation.reference %>">
      <meta name="twitter:image" content="<%= BASE_URL %>/api/document/<%= document.id %>.png">
    <% } else if( typeof TWITTER_ACCOUNT_NAME !== typeof undefined && typeof BASE_URL !== typeof undefined ) { %>
      <title>Biofactoid : Create a digital profile of your article's scientific discoveries and connect it to related biological research</title>
      <meta name="description" content="Biofactoid creates a digital profile of scientific discoveries in an article and connects it to related research." />
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="@<%= TWITTER_ACCOUNT_NAME %>">
      <meta name="twitter:creator" content="@<%= TWITTER_ACCOUNT_NAME %>">
      <meta name="twitter:title" content="Biofactoid">
      <meta name="twitter:description" content="Create a digital profile of your article's scientific discoveries and connect it to related biological research.">
      <meta name="twitter:image" content="<%= BASE_URL %>/image/card-banner.png">
    <% } %>

    <link type="text/css" rel="stylesheet" href="/deps.css" />
    <link type="text/css" rel="stylesheet" href="/bundle.css" />

    <script defer src="/webpackjsonp.js"></script>

    <script>
      (function(){
        var needPolyfills = !('fetch' in window && 'assign' in Object);

        if(needPolyfills){
          var script = document.createElement('script');

          script.defer = true;
          script.src = '/polyfills.js';

          document.head.appendChild(script);
        }
      })();
    </script>

    <script defer src="/deps.js"></script>
    <script defer src="/bundle.js"></script>
  </head>

  <body class="app">
    <div class="init-app">
      <span class="init-app-icon">
        <i class="icon icon-spinner"></i>
      </span>
    </div>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-43341809-12', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
  </body>

</html>
